    body {
      background-color: grey;
    }

    h1 {
      text-align: center;
      color: #00ff39;  
    }

    .forms {
    background-color: rgb(255, 255, 255);
    height: 3em;
    width: 15%;
    border: 0;
    text-align: center;
    padding: 0;
    border: 5px solid black;
    margin-bottom: 1%;
    border-radius: 4%;
    font-size: 18px;
    }

    .buttons {
    background-color: #00ff39;
    height: 3em;
    width: 8%;
    padding: 0;
    border: 2px solid black;
    font-size: 18px;
    }

