h1,h2 {
	color: blue;
	text-decoration: underline;
}

body {
	text-align: center;
	color: purple;
	font-family: 'Montserrat', sans-serif;
	background-image: url("background img.jpeg");
	background-color: #C0C0C0;
}


ol {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	list-style: lower-latin;

}


ul { 
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	list-style: ethiopic; 
}

a:hover {
	background-color: white;
}